### Assignment 1

In [1]:
#imports
import numpy as np
import pandas as pd

#import csv into df
df = pd.read_csv('Assignment 1 - Automobile_data.csv')

Question 1 :

a) print the first and last five rows (5 Points)

In [2]:
# print first 5 rows
print(df.head(5))

# print last 5 rows
print(df.tail(5))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

b) print most expensive carâ€™s company name and price  (5 Points)

In [8]:
# find most expensive car
top = df.loc[df['price'].idxmax()]
print(top[['company', 'price']])

company    mercedes-benz
price              45400
Name: 35, dtype: object

c) print All Toyota Cars details  (5 Points)

In [10]:
# extract toyota cars
toyota = df[df['company'] == 'toyota']
print(toyota)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

d) print total cars count per company  (5 Points)

In [13]:
# count the number of cars for each company
counts = df['company'].value_counts()
print(counts)

toyota           7
bmw              6
mazda            5
nissan           5
audi             4
volkswagen       4
mitsubishi       4
mercedes-benz    4
isuzu            3
jaguar           3
honda            3
alfa-romero      3
chevrolet        3
porsche          3
dodge            2
volvo            2
Name: company, dtype: int64

e) sort all cars by Price column (5 Points)

In [17]:
# sort cars by price from highest to lowest
sorted_cars = df.sort_values(by='price', ascending=False)
print(sorted_cars[['company', 'price']].head(5))

          company    price
35  mercedes-benz  45400.0
11            bmw  41315.0
34  mercedes-benz  40960.0
46        porsche  37028.0
12            bmw  36880.0

Question 2 : A manufacturing company claims that their new production process will result in a mean weight of 100 grams for their product packaging. To test this claim, a sample of 50 packaging units is taken, and the mean weight is found to be 98.5 grams with a standard deviation of 2.3 grams.

a) Formulate the null and alternative hypotheses for this scenario.

b) Calculate the test statistic and p-value for testing the hypothesis (you can use a program code or you can calculate by-hand).

c) At a significance level of 0.05, what is your conclusion regarding the company's claim?

Question 3 : An educational institute claims that the average score of its students in a standardized test is at least 75. To test this claim, a random sample of 40 students is taken, and their average score is found to be 72.8 with a standard deviation of 5.6.

a) State the null and alternative hypotheses.

b) Compute the test statistic and p-value. (you can use a program code or you can calculate by-hand).

c) Based on a significance level of 0.01, what is your conclusion regarding the institute's claim?

Question 4 : A machine learning model was trained to classify emails as either spam (positive class) or non-spam (negative class). After testing the model on a dataset of 200 emails, the following results were obtained: True Positives (TP): 85 , False Positives (FP): 10, True Negatives (TN): 90, False Negatives (FN): 15

a) Calculate the accuracy, precision, recall, and F1-score of the model.

b) Construct the confusion matrix based on the provided results.

c) Interpret the performance of the model based on the confusion matrix.